{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark d-flex p-3 border-bottom border-light">
    <ul class="navbar-nav container-fluid d-flex">
        <li class="nav-item d-flex align-items-center h-100 ">
            <a class="nav-link d-flex align-items-center h-100" href="{% url 'account:home_page' %}"><i class="bi bi-house"></i></i></a>
        </li>
        <li class="nav-item d-flex align-items-center h-100">
            <a class="nav-link d-flex align-items-center h-100" href="{% url 'chat:chose_chatrooms' %}">Social</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item d-flex align-items-center h-100">
            <a class="nav-link d-flex align-items-center h-100" href="{% url 'account:logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item d-flex align-items-center h-100">
            <a class="nav-link d-flex align-items-center h-100" href="{% url 'account:login' %}">Login</a>
        </li>
        {% endif %}
        <!-- <li class="nav-item d-flex align-items-center h-100">
            <a id="connect-wallet" class="nav-link d-flex align-items-center h-100" href="{% url 'account:home_page' %}">Connect Wallet</a>
        </li>
        <li class="nav-item d-flex align-items-center h-100">
            <a id="disconnect-wallet" class="nav-link d-flex align-items-center h-100 d-none" href="{% url 'account:home_page' %}">Disconnect Wallet</a>
        </li> -->
        <li class="nav-item d-flex align-items-center h-100">
            <a id="web3-features" class="nav-link d-flex align-items-center h-100" href="{% url 'account:web3' %}">Web3 Portal</a>
        </li>
    </ul>
</nav>