<nav class="navbar navbar-expand-lg d-flex">
    <ul class="container-fluid d-flex">
        <li class="nav-item d-flex align-items-center h-100 ">
            <a class="nav-link text-secondary d-flex align-items-center h-100" href="{% url 'account:home_page' %}"><i class="bi bi-journals"></i></a>
        </li>
        <li class="nav-item d-flex align-items-center h-100">
            <a class="nav-link text-secondary d-flex align-items-center h-100" href="{% url 'chat:chose_chatrooms' %}">Social</a>
        </li>
        <li class="nav-item d-flex align-items-center h-100">
            <a class="nav-link text-secondary d-flex align-items-center h-100" href="{% url 'account:home_page' %}">Login</a>
        </li>
        <li class="nav-item d-flex align-items-center h-100">
            <a class="nav-link text-secondary d-flex align-items-center h-100" href="{% url 'account:home_page' %}">Connect Wallet</a>
        </li>
    </ul>
</nav>

<!-- // home
// Social => Chat
// Se connecter 
// Se deconnecter
// Connect Wallet
// Deconnect Wallet -->